<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-6 ">
      <form [formGroup]="phoneNumberFormGroup" (ngSubmit)="onSubmit(submitButton)">
        <div class="form-group">
          <label>Phone Number</label>
          <input
            maxlength="14"
            class="form-control"
            formControlName="phoneNumber"
            placeholder="It must be 14 digits and starts with 00, follow this pattern: 00123456789012">
        </div>
        <button
          type="submit"
          [disabled]="!isFormValid()"
          #submitButton
          class="btn btn-primary submit-button">
          Submit
        </button>
      </form>


      <label>Country Name:</label>
      <label style="padding: 4px">{{countryName}}</label>

    </div>
  </div>
</div>
